
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
    
#sobre1{
    margin-left: 80%;
    
}

.bar li{
  display: inline;
 float: left


}
.bar a{
    display: block;
    padding: 8px;
color: white;
padding: 14px 16px;
text-decoration: none;

}


ul{
    list-style: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 box-shadow: 1px 1px 1px 1px black;
 position: sticky;
}

.bar a:hover{
    background-color: rgba(123, 123, 255, 0.432);
}

.imagem{
text-align: center;
padding-bottom: 50px;
padding-top: 120px;

background: linear-gradient(93deg, rgb(116, 109, 233) 0%, rgb(124, 118, 240) 96%, rgba(158,232,164,1) 100%, rgba(2,0,36,1) 100%, rgba(79,236,143,1) 100%);
}
body{
    display: flexbox;

}


#foto{
border-radius: 50%;


}


.formulario{
  
    margin-top: 50px;
    justify-content: center;
    justify-items: center;
    border: none;
padding: 10px;
border-radius: 50px;
display: flex;
margin-left: 50px;
margin-right: 70px;

}
.block-inputs{
    justify-content: center;
    justify-items: center;
    text-align: center;
    border: none;
padding-bottom: 20px;
margin: 40px;
margin-left: 60px;
border: 2px solid rgb(143, 142, 142) ;
padding-right: 50px;
padding-left: 40px;
border-radius:5% ;

}
#butao{
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
background-color: purple;
border: none;
padding: 10px;
padding-left: 23px;
padding-right: 20px;
text-align: center;


}
input{
margin: 30px;
border: solid;
padding: 3px;

}
#footer{
    background: rgb(99, 97, 97);
    margin-top: 50%;
    padding: 30px;

}
#feed-area{
margin-right: 1px;
width: 203px;
height: 128px;
}
.titles{
   margin-top: 40px;
   background-color: blueviolet;

}
button:hover{
color: blue ;
}
.button-block{
    margin: 0px;
}
#bio{
margin-top: 16px;
}
.bar a:hover{
    color: white;
    position: relative;


    
}
.flex-container{
    display: flex;
 margin-top: 80PX;
justify-content: space-around;
align-items: stretch;
color: aliceblue;
text-shadow: 0 0 8px white;
overflow-x: scroll;
color: black;

}
.box1{
display: block;
align-items: stretch;
width: 200px;
height: 185px;
font-size: 20px;


}
.box1:hover{
background-color: blueviolet;
transition: 1s linear;
padding: 30px;
border-radius: 25%;
}
.box2{
display: block;
align-items: stretch;
width: 200px;
height: 185px;
font-size: 20px;
}
.box2:hover{
    background-color: #0890ff;
    transition: 1s linear;
    padding: 30px;
    border-radius: 25%;
}
.box3{
    display: block;
    align-items: stretch;

    width: 200px;
height: 185px;
font-size: 20px;
}
.box3:hover{
    background-color: #5ab559;
    transition: 1s linear;
    padding: 30px;
    border-radius: 25%;
}
@media(max-width: 480px){
    #foto{
        width: 150px;
        height: 100px;
    }
}
@media screen {
    #bar-item{
     padding-right: 150px;
    }
}
@media screen and (max-width: 760px) {
    #bar-item{
       padding-right: 60%;
    }
}
@media screen and (min-width: 760px){
#bar-item{
    padding-right: 80%;
}
}
.flex-container_footer{
display: flex;
justify-content: space-around;
}
.footer-box{
font-size: 20px;
font-family: arial;
 padding-right: 60%;
}
.footer-box_creditis{
float: right;
}